<h1>About</h1>
<p>I just thought it would be fun to have a place for just Fasties to post up pictures.  That way we can show how superior the Laos project is to all the others, until proven otherwise.

I am currently only hosting this on a small server so I apologize in advance if it is slow.  If people end up liking and using this then I will upgrade.  If you run into any issues or think of additions let me know.  I have a few small enhancements I want to make, so keep an eye out.</p>
